@import './bootstrap_custom.scss';

.center{
    text-align: center;
}

.navbar{
    background-color: black;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo :hover{
    color: #fff;
    text-decoration: none;

}